* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: #333; */
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

body {
    min-height: 100vh;
}

ul {
    /* display: inline-flex; */
    justify-content: flex-end;
    list-style-type: none;
    padding: 0!important;
}

/* HERO with CSS effects on PERSPECTIVE word */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    height: 20vh;
    word-spacing: 8px;
    font-size: 1.8em;
    margin-bottom: 12em;
    transition: all .25s linear;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #444;
}

/* HERO text with CSS effects on PERSPECTIVE word */
#rot1 {
    display: inline-block;
    color: #444;
    margin-right: .3em;
}

#rot1:hover {
    display: inline-block;
    transform: rotate(90deg);
}

#rot2 {
    display: inline-block;
    transform: rotate(-180deg);
    color: #106B8F;
    margin-right: .3em;

}

#rot2:hover {
    display: inline-block;
    transform: rotate(-90deg);
}

#rot3 {
    color: #444;
    margin-right: .3em;

}

#rot3:hover {
    display: inline-block;
    transform: rotate(-90deg);
}

#rot4 {
    display: inline-block;
    color: #444;
    transform: rotate(90deg);
    margin-right: .3em;

}

#rot4:hover {
    display: inline-block;
    transform: rotate(-180deg);
    color: #DB2349;
}
/* .wave-text {
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s infinite linear;
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 1200px;
    }
  } */

  /* HERO SECTION */

.bgimage {
    height: 100vh;
    background: url("../Images/HeroImg.jpg") fixed center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* ABOUT ME SECTION */
.img-about {
    width: 100%;
    border-radius: .8em;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: .8em;
    transition: all .25s linear;
}
.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}
.img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrapper > img,
.img-wrapper > .content {
    transition: 200ms ease-in-out;
}
.img-wrapper:hover > img.zoom {
    transform: scale(1.1);
}
.img-wrapper:hover > img.blur {
    filter: blur(5px);
}
.img-wrapper > .content.fade {
    opacity: 0;
}
.img-wrapper:hover > .content.fade {
    opacity: 1;
}

/* EXPERIENCE SECTION */
.bg-carousel {
    height: 100vh;
    /* background: url("../Images/HeroImg.jpg") fixed center no-repeat; */
    /* background-size: cover; */
    position: relative;
    overflow: hidden;
}
.bg-contest {
    height: auto;
    /* background: url("../Images/HeroImg.jpg") fixed center no-repeat; */
    /* background-size: cover; */
    position: relative;
    overflow: hidden;
}

/* .workContainer h2 {
    padding-left: 20px;
}
.contestContainer h2 {
    padding-left: 20px;
} */
.container-grid {
    display: grid;
    grid-gap: 1rem;
}
.container-grid img {   
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: #222;
    min-height: 10vh;
    position: sticky;
    top: 100vh;
    width: 100%;
    margin-bottom: 0;
}

/* Icons Hover */
.high-icon {
    color: #eee;
}
.high-icon:hover {
    color: #999;
    transform: scale(1.2);
}
.high-icon:active {
    color: #eee;
    transform: scale(.8);
}

/* Header Hover */
.high-text {
    font-size: 1.5rem;
    color: #333;
}
.high-text:hover {
    color: #999;
    transform: scale(1.1);
}
.high-text:active {
    transform: scale(1);
}

.my-4 {
    margin-bottom: 0!important;
}

.btn-primary {
    background-color: #106B8F;
    border-color: #106B8F;
}
.btn-primary:hover {
    background-color: #055160;
    border-color: #055160;
}
.btn-light {
    background-color: #eee;
    border-color: #eee;
    width: 4em;
} 

/* Responsive Layout */
@media (max-width: 576px) {
    .two-dots{
        display:none;
    }
    .about-sm {
        padding-top: 1.2em;
        text-align: center !important;
    }
    .hero-small{
        margin-bottom: 25rem;
        font-size: 1.2em;
    }
 }

 @media (max-width: 800px) {
    .two-dots{
        display:none;
    }
    .about-sm {
        padding-top: 1.2em;
        text-align: center !important;
    }
    .hero-small{
        margin-bottom: 25rem;
    }
 }

 @media screen and (min-width:768px) {
    .container-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (min-width:1024px) {
    .container-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .box1 {
        /* grid-column: 2 / 4; 
        grid-row: 1 / 3; */

        grid-area: 1 / 2 / 3 / 4;

        /* Both of this options give the same result. 
        NOTE: GRID AREA goes as: (START: row 1, column 2) (END: row 3, column 4) you are defining the area covered. */
    }
    .box2 {
        grid-area: 1/1/3/3
    }
    
}
